# Python / Django
venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
staticfiles/
media/
temp_uploads/

# Environment configurations
.env
.env.*
!.env.example
backend/.env
frontend/.env

# Node / Frontend Build
node_modules/
dist/
.next/
out/
build/
.DS_Store

# IDEs / System
.idea/
.vscode/
*.swp
Thumbs.db
desktop.ini

# Logs
logs/
*.log
